bad from header: '=?UTF-8?Q?root=40test=2Ecom?='

Latest version seems to be broken since RSPAMD started to mark all emails with BROKEN_HEADERS (score 8!) flag and from logs:

`bad from header: '=?UTF-8?Q?root=40test=2Ecom?='` (source: https://github.com/rspamd/rspamd/blame/a33a7a717b330162dcaca5a815b3a93180a4bf4f/src/libserver/protocol.c#L534)

It might be caused by last commit https://github.com/haraka/haraka-plugin-rspamd/commit/530d72b612d2f21a7f5c068cbf7602c9374825f7 (#45)

Seeing the same issue on a test system I was using to check an upgrade for haraka, running freebsd 13.5


@NickOvt Can you fix it? No encoding should be used for the 'mail from' address! Also beware that someone might actually use SMTPUTF8.

Hello!
Yes the issue seems to be made due to my last commit. @msimerson if possible please revert the changes or mark version 1.4.1 AND version 1.4.0 as buggy (or make a re-release) as soon as possible.

The idea behind my commit was that nodejs throws an error whenever broken bytes are in the Header string. Libmime provided MIME type encoding which also encodes broken bytes. I did not know that rspamd cannot decode the mail from from a MIME string...

The current fix is to use version 1.3.3. Version 1.4.0 might also work, but please check just in case.

If anybody has better suggestions as to how to completely clean the string of any bad bytes please feel free to write a comment here.

> The idea behind my commit was that nodejs throws an error whenever broken bytes are in the Header string.

Tell us more...

> If anybody has better suggestions as to how to completely clean the string of any bad bytes please feel free to write a comment here.

Why would we be cleaning the header of bad bytes here (vs in haraka-email-message) in the first place? That seems misplaced and fragile (if it breaks the rspamd plugin, why wouldn't it break in other places, and thus should be handled earlier in the SMTP conversation? (I assumed the motive of the earlier changes was rspamd errors)

> mark version 1.4.1 AND version 1.4.0 as buggy

done. And I reverted to 1.3.3 in haraka/Haraka.

> > The idea behind my commit was that nodejs throws an error whenever broken bytes are in the Header string.
> 
> Tell us more...
> 
> > If anybody has better suggestions as to how to completely clean the string of any bad bytes please feel free to write a comment here.
> 
> Why would we be cleaning the header of bad bytes here (vs in haraka-email-message) in the first place? That seems misplaced and fragile (if it breaks the rspamd plugin, why wouldn't it break in other places, and thus should be handled earlier in the SMTP conversation? (I assumed the motive of the earlier changes was rspamd errors)

A client connects to Haraka, in envelope from sends some incorrect bytes. For some reason they DO get passed down to this plugin. Haraka internally handles broken bytes just fine, but Nodejs does not allow broken bytes in HTTP headers. By broken bytes I mean control chars, tabs and UTF-8 broken byte value (in email from addr).

> A client connects to Haraka, in envelope from sends some incorrect bytes. For some reason they DO get passed down to this plugin.

Ahh, I see. This plugin doesn't do anything until the DATA POST hook, long after the MFROM has been submitted by the client and accepted by Haraka. In a case like this, any SMTP validation and sanitization should be happening much earlier, preferably immediately after the client submits the MFROM with incorrect bytes, probably using `hook_mail`.

IMO, the most natural place to put a check like this is in the non-existent plugin `haraka-plugin-mail_from`.  I'd be inclined to create that non-existent plugin and subsume [haraka-plugin-mail_from.is_resolvable](https://github.com/haraka/haraka-plugin-mail_from.is_resolvable) into it as a function. (similar to how haraka-plugin-helo.checks has a collection of HELO/EHLO validation tests).

> Haraka internally handles broken bytes just fine, but Nodejs does not allow broken bytes in HTTP headers. By broken bytes I mean control chars, tabs and UTF-8 broken byte value (in email from addr).

Ahhh, so this is why the issue surfaced with the rspamd plugin.

If SMTPUTF8 is advertised by your MTA, if UTF-8 is used in an address, then SMTPUTF8 support should also be enabled in rspamd. This has also been discussed in https://github.com/rspamd/rspamd/issues/5002 

---

@NickOvt 

> I did not know that rspamd cannot decode the mail from from a MIME string...

Actually this is **not** allowed for anything beyond the 'comment' or 'phrase' part of those headers. It's not allowed for the structured part of the header (the addresses).

As per [RFC 2047](https://datatracker.ietf.org/doc/html/rfc2047):

> 5. Use of encoded-words in message headers
As a replacement for a 'word' entity within a 'phrase', for example,
one that precedes an address in a From, To, or Cc header. The ABNF
definition for 'phrase' from RFC 822 thus becomes:

In addition:

> An 'encoded-word' MUST NOT be used in a Received header field.

---

> If anybody has better suggestions as to how to completely clean the string of any bad bytes please feel free to write a comment here.

If 8BITMIME is used then **any octet** may be relayed, but other SMTP rules still apply. It must **not** be assumed that it is UTF-8.

If SMTPUTF8 is used in conjunction, then both SMTP and MIME headers should be UTF-8 (and pass Node's `buffer.isUtf8(input)` checks). [The RFC](https://datatracker.ietf.org/doc/html/rfc6531#section-3.6) says the following:

> An SMTPUTF8-aware SMTP client or server
   that requires accurate knowledge of whether a message is
   internationalized needs to parse all message header fields and MIME
   header fields [RFC2045] in the message body.  However, this
   specification does not require that the SMTPUTF8-aware SMTP client or
   server inspects the message.

So in theory there might be naïve SMTPUTF8+8BITMIME MTAs that do not check UTF-8 compliance when transferring a message. This is probably a moment where Haraka can decide if it is willing to accept such a broken letter. One option in this specific case is to replace invalid codepoints with U+FFFD (`REPLACEMENT CHARACTER`). This **should not** be done to control characters and other already valid codepoints. Any further restrictions come from SMTP itself and possibly other respective standards about specific headers and their contents.

HTTP does not allow non-ASCII header names, but does not restrict header values. (Except what the HTTP spec itself defines, like line endings. Line folding was also allowed in the past, but no longer is.) If Node.js does not tolerate that then it's a bug. 

Anything that HTTP doesn't tolerate as-is would have to be dealt with using HTTP-level approaches, not SMTP/MIME ones. Such as [quoting the header value](https://www.rfc-editor.org/rfc/rfc2616#page-17) or %/URI-encoding the value (if supported by rspamd).

I have opened PR #48 which reverts the recent sanitization additions.  I *think* that's the right approach, because if the client is sending broken envelope arguments, we should a) detect and reject them on the respective hooks or b) pass the garbage onwards so that rspamd can detect it. What do you think?